<header class="bg-white shadow-md py-4">
  <div class="container mx-auto px-4">
    <h1 class="text-xl font-bold text-indigo-700">Gestor de Productos</h1>
    <nav class="mt-4 flex space-x-4">
      @for (item of menuItems; track item) {
        <a [routerLink]="item.path"
          routerLinkActive="bg-indigo-700 text-white"
          [routerLinkActiveOptions]="{exact: item.path === '/'}"
           class="px-4 py-2 rounded-md font-medium transform transition-all duration-200 
                  hover:bg-indigo-600 hover:text-white text-indigo-700 hover:scale-105">
          {{ item.label }}
        </a>
      }
    </nav>
  </div>
</header>
